extends layout

block stylesheets
  style.
    table { border: 1px solid black; width: 100%; }
    td, th { border: 1px solid black; padding: .5rem; }

block content
  main
    h1 Webstats for #{args.site}
    
    h2 Counter Table
    if counter[0] == null
      h3 Counter Table Empty
    else
      table
        thead
          tr
          each item,key in counter[0]
            th= key
        tbody
          each c in counter
            tr
            each item in c
              td= item

    h2 Bots Table
    if bots[0] == null
      h3 Bots Table Empty
    else
      table
        thead
          tr
          each item,key in bots[0]
            th= key
        tbody
          each c in bots
            tr
            each item in c
              td= item

    h2 Bots2 Table
    if bots2[0] == null
      h3 Bots2 Table Empty
    else
      table
        thead
          tr
          each item,key in bots2[0]
            th= key
        tbody
          each c in bots2
            tr
            each item in c
              td= item

    h2 Tracker Table
    if tracker[0] == null
      h3 Tracker Table Empty
    else
      table
        thead
          tr
          each item,key in tracker[0]
            th= key
        tbody
          each c in tracker
            tr
            each item in c
              td= item

    h2 Daycounts Table
    if daycounts[0] == null
      h3 Daycounts Table Empty
    else
      table
        thead
          tr
          each item,key in daycounts[0]
            th= key
        tbody
          each c in daycounts
            tr
            each item in c
              td= item
