doctype html

html
  head
    title #{args.title}
    meta(name=viewport content="width=device-width, initial-scale=1")
    meta(charset='utf-8')
    meta(name="copyright" content="#{args.copyright}")
    meta(name="Author" content="#{args.author}")
    meta(name="description" content="#{args.desc}")
    meta(name="keywords" content="Barton Phillips")
    
    link(rel="stylesheet" href="https://bartonphillips.net/css/blp.css" title="blp default")

    style.
      .red {color: red;}
      .center {text-align: center;}
      #hitCounter { margin-left: auto; margin-right: auto; width: 50%; text-align: center; }
      #hitCountertbl { font-size: 1em; width: 0; border: 8px ridge yellow; margin-left: auto; margin-right: auto; background-color: #F5DEB3 }      #hitCountertr { width: 0; border: 8px ridge yellow; margin-left: auto; margin-right: auto; background-color: #F5DEB3 }
      #hitCounterth { color: rgb(123, 16, 66); }

    block stylesheets

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")

    block jscripts

  body
    header
      div
        a(href="/")
          img(id='blpimg' src="https://bartonphillips.net/images/blp-image.png" width='90' height-'120' alt="Barton's Picture")
        a(href="http://linuxcounter.net/")
          img(id='linuxcounter' src="https://bartonphillips.net/images/146624.png" width='190' height='110' alt="linux counter image.")

      h1.center #{args.banner}

      hr
  
    block content

    footer
      hr
      block footer

      |Return to 
      a.underline(href="/") Home Page

      h2.center: a(href="/aboutwebsite") About This Site

      #counter
        div #{args.msg}

        #hitCounter
          table#hitCountertbl
            tr#hitCountertr
              th#hitCounterth #{args.footer}
        #address
          address.
            Copyright &copy; #{args.copyright}
            <br>
            Barton Phillips, #{args.address}
            <br>

        Last Modified: #{args.mtime}
