doctype html

html(lang='en')
  head
    title #{args.title}
    meta(name=viewport content="width=device-width, initial-scale=1")
    meta(charset='utf-8')
    meta(name="copyright" content="#{args.copyright}")
    meta(name="Author" content="#{args.author}")
    meta(name="description" content="#{args.desc}")
    meta(name="keywords" content="Barton Phillips")
    
    if args.site == 'Applitec'
      link(rel="stylesheet" href="http://bartonphillips.net/css/nav.css")
      link(rel="stylesheet" href="http://bartonphillips.net/css/applitec.css")
    else
      link(rel="stylesheet" href="http://bartonphillips.net/css/blp.css" title="blp default")

    style.
      .red {color: red;}
      .center {text-align: center;}
      #hitCounter { margin-left: auto; margin-right: auto; width: 50%; text-align: center; }
      #hitCountertbl { font-size: 1em; width: 0; border: 8px ridge yellow; margin-left: auto; margin-right: auto; background-color: #F5DEB3 }      #hitCountertr { width: 0; border: 8px ridge yellow; margin-left: auto; margin-right: auto; background-color: #F5DEB3 }
      #hitCounterth { color: rgb(123, 16, 66); }

    block stylesheets

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")

    block jscripts

  body
    if args.site == 'Applitec'
      include layoutApplitec.pug
    else
      include layoutNode.pug
